.background--white {
  background-color: white;
}

.navbar {
  margin-left: 10rem;
  margin-right: 10rem;
  height: 9rem;

  &__link {
    text-decoration: none;
    font-size: 2.5rem;
    color: $color-primary-grey;

    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;

    &:hover {
      color: $color-primary;
    }
  }

  &__title {
    color: $color-primary;
    font-size: 5.5rem;
  }

  &--selected {
    text-decoration: underline;
    color: $color-primary;
  }
}

.navbar {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2rem;

  &__title {
    grid-column: col-start 6 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  &__link {
    align-self: center;
    &--first {
      grid-column: col-start 11 / span 1;
      grid-row: 1;
    }

    &--last {
      grid-column: col-start 12 / span 1;
      grid-row: 1;
    }
  }
}
