.background--white {
  background-color: white;
}

.navbar {
  height: 9rem;

  &__link {
    text-decoration: none;
    font-size: 2.5rem;
    color: $color-primary-grey;

    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;

    &:hover {
      color: $color-primary;
    }
  }

  &__title {
    color: $color-primary;
    font-size: 5.5rem;
  }

  &--selected {
    text-decoration: underline;
    color: $color-primary;
  }
}

.navbar {
  &__menu {
    & > &--toggle:checked ~ label > &__icon {
      background: white;
      height: 0;

      &:before {
        top: 0;
        transform: rotate(135deg);
        transition: all 0.2s ease;
      }

      &:after {
        top: 0;
        transform: rotate(-135deg);
        transition: all 0.2s ease;
      }
    }
    &--toggle {
      position: absolute;
      visibility: hidden;

      &:checked ~ .navbar__menu__container {
        visibility: visible;
        transform: scale(1);
        transition: all 0.2s ease;
      }
    }

    label {
      position: relative;
    }

    &__icon {
      z-index: 10;
      position: relative;
      width: 2.25rem;
      height: 2px;
      background: #000;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -7px;
        width: 100%;
        height: 2px;
        background: inherit;
        transition: all 0.2s ease;
      }

      &::after {
        top: 7px;
      }

      &--wrapper {
        cursor: pointer;
        z-index: 15;
        top: -1rem;
        position: absolute;
        width: 2.25rem;
        height: 2rem;
      }
    }

    &__container {
      visibility: hidden;
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(255, 106, 106, 0.9);
      transform: scale(0);
      transition: all 0.2s ease;
      display: grid;
      justify-items: center;
      align-items: start;
      grid-row-gap: 1rem;
      grid-template-rows: 11rem;
      padding-top: 15rem;
      transform-origin: right;

      .navbar__link {
        color: white;
        font-size: 6rem;
      }
    }
  }
}

.navbar {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2rem;

  &__title {
    grid-column: col-start 6 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  &__extended {
    grid-column: col-start 11 / span 2;
    grid-row: 1;
    align-self: center;

    .navbar__link--last {
      float: right;
    }
  }
}

@media screen and (max-width: 959px) {
  .navbar {
    margin-left: 4rem;
    margin-right: 4rem;
    &__extended {
      display: none;
    }
    &__menu {
      grid-column: col-start 12;
      grid-row: 1;
      align-self: center;
      justify-self: center;
    }
  }
}

@media screen and (min-width: 960px) {
  .navbar {
    margin-left: 10rem;
    margin-right: 10rem;
    &__extended {
      display: inline-block;
    }

    &__menu {
      display: none;
    }
  }
}
