.recipeDetails {
  overflow: auto;

  &__loading__animation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img__container {
    position: relative;
    width: 100%;
    height: 30rem;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    height: 100%;
  }

  &__info {
    &__ingredients {
      background-color: rgba(112, 112, 112, 0.1);
      padding: 2rem;
      padding-bottom: 3rem;
      margin-bottom: 2rem;

      &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: $color-primary;
      }

      &__list {
        font-size: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-row-gap: 4rem;
        list-style: none;
        align-items: center;
        li {
          position: relative;
          padding-left: 3rem;

          &:before {
            content: '';
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            background-image: url('./img/utensils-solid.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0.25rem;
            left: 0.3rem;
          }
        }
      }
    }

    &__heading {
      display: grid;
      grid-template-columns: 7fr 1fr;
      align-items: center;

      margin: 2rem;
      .title {
        line-height: 4.5rem;
        font-size: 3.5rem;
        span {
          border-bottom: 3px solid black;
        }
      }
      .save {
        color: $color-primary;
        justify-self: center;
        cursor: pointer;
        font-size: 3.5rem;
      }
    }

    &__source {
      font-size: 2rem;
    }
  }
}

.recipeDetails {
  grid-area: details;
}
