.nav {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2rem;

  &__title {
    grid-column: col-start 6 / span 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }

  &__link {
    align-self: center;
    &--first {
      grid-column: col-start 11 / span 1;
      grid-row: 1;
    }

    &--last {
      grid-column: col-start 12 / span 1;
      grid-row: 1;
    }
  }
}

main {
  height: 91vh;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2rem;
}

.landing {
  &--center {
    grid-column: col-start 1 / span 12;
    align-self: center;
    justify-self: center;
  }
}

.card {
  grid-column: col-start 1 / span 12;
  align-self: center;
  justify-self: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-template-areas:
    '. title .'
    'border border border'
    'name name name'
    'email email email'
    'password password password'
    'cPassword cPassword cPassword'
    'button button button'
    'guide guide guide';

  &__title {
    grid-area: title;
    justify-self: center;

    &__border {
      grid-area: border;
    }
  }

  &__name {
    grid-area: name;
  }

  &__email {
    grid-area: email;
  }

  &__password {
    grid-area: password;
  }

  &__confirm-password {
    grid-area: cPassword;
  }

  &__button {
    grid-area: button;
  }

  &__guide {
    grid-area: guide;
  }
}

.recipe__searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  &__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'recipes details' 'center-item center-item';
  }

  &__scrollbar {
    grid-area: recipes;
  }

  &__details {
    grid-area: details;
  }

  .center-item {
    grid-area: center-item;
  }

  .recipe__loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
