.home {
  &__image {
    background-image: url('./img/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(3px);
  }

  &__title {
    text-align: center;
    font-size: 7rem;
    color: white;
    margin-bottom: 1rem;
  }

  &__field {
    position: relative;

    input {
      width: 50rem;
      height: 5rem;
      font-size: 2.5rem;
      padding-left: 1rem;
      border-radius: 1px;
      border: none;

      &:focus {
        outline: none;
        border: 2px solid $color-primary;
        padding-left: 8px;
      }
    }

    button {
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      font-size: 3rem;
      border: none;
      background: white;

      &:focus,
      &:active {
        outline: none;
        color: $color-primary;
      }
    }
  }
}

.home {
  &--center {
    grid-column: col-start 1 / span 12;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (max-width: 576px) {
  .home {
    &__title {
      font-size: 5rem;
    }

    &__field {
      input {
        width: 35rem;
        height: 4rem;
      }

      button {
        font-size: 2.5rem;
        position: absolute;
        top: 0.7rem;
        right: 1rem;
      }
    }
  }
}
