.recipeResults {
  height: calc(100vh - 16rem);
  display: flex;
  align-items: center;
  justify-content: center;

  &__background-image {
    background-image: url('./img/recipe_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(3px);
  }

  &__container {
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
  }

  &__searchbar {
    height: 10rem;
    &__container {
      position: relative;

      input {
        padding: 2rem;
        width: 50rem;
        height: 4rem;
        font-size: 2rem;
        border-radius: 2rem;
        border: none;

        &:focus {
          outline: none;
          border: 2px solid $color-primary;
          padding-left: 1.8rem;
          top: 10rem;
        }
      }

      button {
        font-size: 2.5rem;
        border: none;
        position: absolute;
        top: 0.7rem;
        right: 1.5rem;
        background: white;

        &:focus,
        &:active {
          outline: none;
          color: $color-primary;
        }
      }

      input:focus ~ button {
        top: 0.9rem;
      }
    }
  }
}

.recipeResults {
  .center-item {
    grid-area: center-item;
  }

  &__grid {
    &--results {
      height: 100%;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'recipes details';
    }

    &--center {
      height: 100%;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-areas: 'center-item center-item';
      align-items: center;
    }
  }
}

.recipeResults__searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 959px) {
  .recipeResults {
    &__searchbar {
      height: 7rem;
      input {
        width: 28rem;
      }
    }

    &__container {
      height: 92.5%;
    }

    &__grid {
      &--results {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
      }

      &--center {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'center-item';
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .recipeResults {
    .recipeDetails {
      &__backButton {
        display: none;
      }
    }
  }
}
