.recipeResults {
  height: calc(100vh - 25rem);
  display: flex;
  align-items: center;
  justify-content: center;

  &__background-image {
    background-image: url('./img/recipe_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(3px);
  }

  &__container {
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
  }

  &__searchbar {
    height: 10rem;
    &__container {
      position: relative;
      width: 50rem;

      input {
        padding: 1rem;
        width: 50rem;
        height: 4rem;
        font-size: 2rem;

        &:focus {
          outline: none;
          border: 2px solid $color-primary;
          padding-left: 1rem;
        }
      }

      button {
        font-size: 2.5rem;
        background: none;
        border: none;
        position: absolute;
        top: 0.5rem;
        right: 1rem;

        &:focus,
        &:active {
          outline: none;
          color: $color-primary;
        }
      }
    }
  }
}

.center-item {
  text-align: center;
}

.no__results__found {
  h1 {
    font-size: 7.5rem;
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $color-primary !important;
  }

  p {
    font-size: 3rem;
  }
}

.recipeResults {
  &__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'recipes details' 'center-item center-item';
  }

  .center-item {
    grid-area: center-item;
  }
}

.recipeResults__searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
