.card {
  background-color: white;
  border-radius: 5px;
  width: 45rem;

  &--register {
    height: 57rem;
  }

  &--login {
    height: 41rem;
  }
}

.form {
  font-family: house-script, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1rem;

  &__title {
    font-size: 4.5rem;
    margin-top: 1rem;

    &__border {
      border-top: 1px solid black;
    }
  }

  input {
    outline: none;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;

    &:focus {
      border: 1px solid $color-primary-dark;
    }
  }

  label {
    font-size: 3rem;
  }

  hr {
    margin-top: -13px;
  }

  &__button {
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 5rem;
    border-radius: 7px;
    background-color: $color-primary;
    color: white;
    font-size: 3rem;
    margin-top: 1.5rem;
    border: none;

    &:focus,
    &:hover {
      outline: none;
      background-color: darken($color-primary, 5%);
    }

    &:active {
      background-color: white;
      color: $color-primary;
      border: 2px solid $color-primary;
    }
  }

  &__password__label {
    float: right;
    font-size: 1.7rem;
    padding-top: 1rem;
  }

  &__guide {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.6rem;
    color: $color-primary-grey;

    &--color-fix {
      color: $color-primary-grey;
    }
  }
}
