.recipe {
  padding: 1.5rem;

  &:nth-child(odd) {
    border-left: 1rem solid $color-primary;
    background-color: rgba(255, 106, 106, 0.2);

    &:hover {
      border-left: 1.5rem solid $color-primary;
    }
  }

  &:nth-child(even) {
    border-left: 1rem solid #ff998f;

    &:hover {
      border-left: 1.5rem solid #ff998f;
    }
  }

  &__active {
    border-left-width: 1.5rem !important;
    background-color: rgba(255, 106, 106, 0.5) !important;
  }

  &__fig {
    img {
      border-radius: 50%;
      position: relative;
      width: 10rem;
      height: 10rem;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__data {
    color: black;
    padding-left: 0.5rem;
  }

  &__name {
    font-size: 2rem;
    padding-left: 1rem;
  }

  &__author {
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
    color: $color-primary;
    font-size: 2rem;
  }
}
