.recipe__item {
  border-bottom: 1px solid black;
  padding: 1.5rem;

  &:last-child {
    border: none;
  }
}

.recipe__results {
  height: 100%;
  list-style-type: none;

  &__fig {
    img {
      border-radius: 50%;
      position: relative;
      width: 10rem;
      height: 10rem;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__data {
    color: black;
    padding-left: 0.5rem;
  }

  &__name {
    font-size: 2rem;
    padding-left: 1rem;
  }

  &__author {
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 1rem;
    margin-right: 1rem;
    color: $color-primary;
    font-size: 2rem;
  }
}
