.landing {
  &__image {
    background-image: url('../img/landing3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(3px);
  }

  &__title {
    text-align: center;
    font-size: 6rem;
    color: white;
    margin-bottom: 1rem;
  }

  &__search {
    width: 50rem;
    height: 5rem;
    font-size: 2rem;
    padding-left: 1rem;
    border-radius: 1px;
    border: none;

    &:focus {
      outline: none;
      border: 2px solid $color-primary;
      padding-left: 8px;
    }
  }

  &__field {
    position: relative;

    button {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 3.5rem;
      border: none;

      &:focus {
        outline: none;
        color: $color-primary;
      }
    }
  }
}
