.recipe {
  height: calc(100vh - 25rem);
  display: flex;
  align-items: center;
  justify-content: center;

  &__background-image {
    background-image: url('../img/recipe_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(3px);
  }

  &__container {
    border-radius: 20px;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
  }

  &__scrollbar {
    overflow: auto;
  }

  &__item {
    border-bottom: 1px solid black;
    padding: 1.5rem;

    &:last-child {
      border: none;
    }
  }

  &__searchbar {
    height: 10rem;
    &__container {
      position: relative;
      width: 50rem;

      input {
        padding: 1rem;
        width: 50rem;
        height: 4rem;
        font-size: 2rem;

        &:focus {
          outline: none;
          border: 2px solid $color-primary;
          padding-left: 1rem;
        }
      }

      button {
        font-size: 2.5rem;
        background: none;
        border: none;
        position: absolute;
        top: 0.5rem;
        right: 1rem;

        &:focus,
        &:active {
          outline: none;
          color: $color-primary;
        }
      }
    }
  }

  &__results {
    height: 100%;
    list-style-type: none;

    &__fig {
      img {
        border-radius: 50%;
        position: relative;
        width: 10rem;
        height: 10rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__data {
      color: black;
      padding-left: 0.5rem;
    }

    &__name {
      font-size: 2rem;
      padding-left: 1rem;
    }

    &__author {
      font-family: house-script, sans-serif;
      font-style: normal;
      font-weight: 400;
      margin-left: 1rem;
      margin-right: 1rem;
      color: $color-primary;
      font-size: 2rem;
    }
  }

  &__details {
    .img__container {
      position: relative;
      width: 100%;
      height: 30rem;
      overflow: hidden;
    }

    &__image {
      position: absolute;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__container {
      padding: 2rem;
      h3 {
        font-size: 5rem;
        font-family: house-script, sans-serif;
        font-style: normal;
        font-weight: 400;
        color: $color-primary !important;
      }

      h5 {
        font-size: 2rem;
      }

      ol {
        padding: 2rem;
        font-size: 2rem;
      }
    }
  }
}

.center-item {
  text-align: center;
}

.no__results__found {
  h1 {
    font-size: 7.5rem;
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $color-primary !important;
  }

  p {
    font-size: 3rem;
  }
}
