.center-item {
  text-align: center;
}

.no__results__found {
  h1 {
    font-size: 7.5rem;
    font-family: house-script, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $color-primary !important;
  }

  p {
    font-size: 3rem;
  }
}
