.center-item {
  text-align: center;
}

.no__results__found {
  h1 {
    font-size: 7.5rem;
    color: $color-primary !important;
  }

  p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 959px) {
  .no__results__found {
    padding: 1rem;
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }
  }
}
