.recipeSidebar {
  overflow: auto;

  &__results {
    height: 100%;
    list-style-type: none;

    .recipe:nth-child(odd) {
      border-left: 1rem solid $color-primary;
      background-color: rgba(255, 106, 106, 0.2);
    }

    .recipe:nth-child(even) {
      border-left: 1rem solid #ff998f;
    }

    .paginationButtons {
      border-left: 1rem solid $color-primary;
      background-color: rgba(255, 106, 106, 0.2);
    }
  }
}

.recipeSidebar {
  grid-area: recipes;
}
