*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.login {
  &__image {
    background-image: url('../img/login-register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    filter: blur(1px);
  }
}

input,
.font__kepler {
  font-family: kepler-std-caption, serif;
  font-weight: 300;
  font-style: normal;
}
